body {
  background: #F0F0F0;
  .left {
    background-color: rgb(81, 164, 242);
    width: 24%;
    height: 100%;
    border-right: 1px solid rgb(49, 100, 147);
    position: fixed;
    left: 0;
    padding: 15px 20px 0 30px;
    .t-region {
      height: 80px;
      h1 {
        text-align: center;
        color: #fff;
        font-size: 36px;
        border-radius: 5px;
        border: none;
        background-color: rgb(22, 121, 212);
        width: 80%;
        margin: 100px auto 0 auto;
      }
      button {
        position: absolute;
        top: 4px;
        right: 4px;
        // color: #03205d;
        color: rgb(49, 100, 147);
      }
    }
    .m-region {
      height: 300px;
      .menu {
        //border: 1px solid #03205d;
        border-radius: 5px;
        padding: 15px;
        width: 90%;
        margin: 0 auto;
        background-color: rgb(22, 121, 212);
        color: rgb(49, 100, 147);
        //color: #03205d;
        select {
          width: 100%;
          background: #fff;
          padding: 5px;
          font-size: 16px;
          border: 1px solid #ccc;
          height: 34px;
          line-height: 34px;
          border-radius: 5px;
          &:hover {
            background-color: #F0F0F0;
            transition: all 0.4s;
          }
        }
        .btns {
          width: 100%;
          button {
            width: 100%;
            margin-top: 15px;
            line-height: 40px;
            font-size: 20px;
            border-radius: 5px;
            color: rgb(49, 100, 147);
            //color: #03205d;
            &:hover {
              transition: all 0.4s;
            }
          }
        }
      }
    }
    .b-region {

    }
  }
  .right {
    width: 75%;
    padding: 3%;
    margin-left: 25%;
    #qrcode {
      width: 700px;
      margin: 0 auto;
      display: block;
    }
    .info {
      .time-list {
        width: 49%;
        float: left;
      }
      .student-list {
        width: 49%;
        float: right;
      }
      h3 {
        text-align: center;
        margin-bottom: 20px;
      }
      li {
        text-align: center;
        &:hover {
          background-color: #DFF0D8;
          transition: all 0.4s;
        }
      }
    }
    .signInfo {
      h4 {
        font-weight: bold;
      }
      ul {
        width: 33%;
        float: left;
        text-align: center;
      }
      .change {
        &:hover {
          background-color: #F0F0F0;
          transition: all 0.4s;
        }
      }
    }
  }
}