body
{
	background: #E1E2EC;
	height: 100%;
	.left
	{
		width: 25%;
		height: 100%;
		border-right: 1px solid black;
		position: fixed;
		left: 0;
		.t-region
		{
			height: 100px;
			.row
			{

			}
		}
		.m-region
		{
			height: 300px;	
		}
		.b-region
		{

		}
	}
}
